.ctTrips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    width: 95%;
    margin: 25px auto;
    max-width: 1400px;
    justify-items: center;
}

.ctEmpty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding: 0 20px;
}

.txtError {
    color: var(--red-color);
    font-size: var(--font-size-s);
}

.btTrip {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    color: var(--yellow-color);
    font-weight: var(--font-bold);
    cursor: pointer;
}