.ctHeader {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--blue-color);
    padding: 15px;
}

.ctH1 {
    color: var(--green-color);
    font-weight: var(--font-bold);
    font-family: 'Barlow', sans-serif;
}

.ctNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.imgLogout {
    width: 100%;
}

@media (max-width: 375px) {
    .ctNav {
        flex-wrap: wrap;
    }
}